.modal {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.modal-open {
  transform: translateY(0);
  opacity: 1;
}

.modal-close {
  transform: translateY(20px);
  opacity: 0;
}
